

.page-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-login{
    width: 300px;
    height: 200px;
}

.img-login img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.container-login{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: -2px 3px 15px 5px rgba(199, 243, 228, 0.95),0px 10px 15px -3px rgba(174, 247, 222, 0.95);
}
.container-login form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

.input-login {
	background-color:rgb(30, 194, 139, 0.95);
	border-radius:28px;
	border:1px solid rgb(30, 194, 139, 0.95);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px rgb(30, 194, 139, 0.95);
}

label{
    font-size: 18px;
}

input {
    padding: 10px;
    font-size: 18px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 12px;
    box-shadow: -3px 0px 10px rgba(66,66,66,.18);
    text-shadow: 0px 0px 1px rgba(66,66,66,.0);
  }
input:focus {
    outline:none;
  }
  